/*#2285FF*/

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: rgb(244, 111, 10);
    min-width: 200px;
}

nav{
    margin-top: 25px;
    margin-left: 3.5%;
    margin-right: 3.5%;
    height: 60px;
}
.navdiv{
    display: flex; 
    align-items: center;
    justify-content: space-between;
    height: 60px;
}
#listnav{
    list-style: none;
    display: inline-block;
}
.logo{
    font-family: "Righteous", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 35px;
    transition: .3s ease-in-out;
    user-select: none;
}
.logo:hover{
    font-size: 40px;
    color: rgb(255, 255, 255);
    transition: .2s ease-in-out;
}
#textlogo{color: rgb(241, 241, 241); text-decoration: none;}
#textlogo:hover{color: white;}
#navbar-button{
    padding-left: 1dvw;
    color: rgb(220, 220, 220);
    font-family: "Lexend Deca", sans-serif;
    font-weight: 300;
    font-size: 20px;
    font-style: normal;
    border-bottom: 0px;
    transition: .2s ease-in-out;
    margin-right: 25px;
    text-decoration: none;
}
#navbar-button:hover{
    color: rgb(255, 255, 255);
    font-weight: 400;
    text-decoration: underline;
    font-size: 25px;
}
